* {
  box-sizing: border-box;
}

header {
  text-align: center;

}

.buttons {
  width: 50%;

}
.left{
  float: left;
}

.buttons button {
  font-size: 50px;
  display: block;

}
.right {
  float: right;
}

.bet:before {
  content: "Bet $";
}
