header {
  text-align: center;
}

#hit{
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 70px;
  width: 196px;
}
#hold {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 70px;
  width: 196px;
}
#home {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 70px;
  width: 196px;
}
