@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Rock+Salt');





body{
  margin:0;
  cursor: crosshair;
}
#play-area{
  display:flex;
}
#play-area > * {
  flex: 1 0 50%;
}
/* 320 --> <-- 768 */
.allIn {
  text-align: center;
  width: 50%;
    }

  .modal-content{
    border: 1px solid black;
    background-color: white;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 1em 1em;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .modal{
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    top: 0;
  }

* {
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 15px;


}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-animation-duration: 20s;
  background-image: url(../../img/background.jpg);
  font-family: 'Rock Salt', cursive;
}

#highscore {
  color: tan;
}

button {
  font-family: 'Architects Daughter', cursive;
  outline: 0;
  text-align: center;
  font-size: 30px;
  display: block;
  border: 1px solid blue;
  background-color: gray;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  cursor:cell;
  transition: all .1s linear;
  box-shadow: 0 5px 0 #006599;
  cursor: pointer;

}
button:active {
  background-color: blue;
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

h1, h2, #sumOfDealerCards, #sumOfPlayerCards {
  color: #48A0CC;
}

.buttons {
  width: 50%;
}
.left{
  float: left;
}
.right,
.allIn {
  float: right;
}

.bet button:before {
  content: "Bet ";
}

.bet {
  text-align: center;
}

.playerCard,
#dealer {
  position: relative;
  height: 280px;
}

.playerCard img {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  height: auto;
}

.dealerCard img {
  position: relative;
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  height: auto;
}

.Money {
    font-size: 15px;
    color: red;
}

@media (max-width: 320px) {
  button {
    text-align:center;
  }

  modal-content{
    font-size: 20px;
  }

 header {
   text-align: center;
   font-size: 10px;


 }
 button {
   text-align: center;
   font-size: 20px;
   display: block;
   border: 1px solid green;
   background-color: gray;

 }
 .playerCard,
 #dealer {
   position: relative;
   height: 180px;
 }

 .playerCard img {
   position: absolute;
   left: calc(50% - 35px);
   width: 70px;
   height: auto;
 }

 .dealerCard img {
   position: relative;
   position: absolute;
   left: calc(50% - 35px);
   width: 70px;
   height: auto;
 }

 .Money {
     font-size: 10px;
     color: red;
 }

 h2 {
   font-size: 20px;
 }

}

@media (min-width: 768px) {


   button {
    text-align: center;
    font-size: 30px;
    display: block;
    border: 1px solid red;
    background-color: gray;

  }
  button {
    text-align:center;
  }
  .playerCard,
  #dealer {
    position: relative;
    height: 375px;
  }

  .playerCard img {
    position: absolute;
    left: calc(50% - 87.5px);
    width: 175px;
    height: auto;
  }

  .dealerCard img {
    position: relative;
    position: absolute;
    left: calc(50% - 87.5px);
    width: 175px;
    height: auto;
  }

  .Money {
      font-size: 15px;
      color: red;
  }

}

@media (min-width: 1024px) {

  button {
    text-align: center;
    font-size: 40px;
    display: block;
    border: 1px solid white;
    background-color: gray;

  }
  button {
    text-align:center;
  }
  .playerCard,
  #dealer  {
    position: relative;
    height: 300px;
  }

  .playerCard img {
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    height: auto;
  }

  .dealerCard img {
    position: relative;
    position: absolute;
    left: calc(50% - 75px);
    width: 150px;
    height: auto;
  }

  .Money {
      font-size: 20px;
      color: red;
  }

}
