@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Rock+Salt');

* {
  box-sizing: border-box;
}

header {
  text-align: center;


}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-animation-duration: 20s;
  /* background-color: green; */
  background-image: url(../../img/background.jpg);
  font-family: 'Rock Salt', cursive;
}

button {
  font-family: 'Architects Daughter', cursive;

}

.border {
  border-style: double;

}

.buttons {
  width: 50%;
}
.left{
  float: left;
}

.buttons button {
  text-align: center;
  font-size: 60px;
  display: block;

}
.right {
  float: right;
}

.bet button:before {
  content: "Bet $";
}

.bet {
  text-align: center;
}

/* .playerCard {
  width: 10px;
  length: 50px;
} */

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
